.container-List {
  background-color: #ffffff;
  display: flex;
  flex-direction: row; 
  min-height: 100vh; 
  overflow-x: hidden;
  overflow-y: auto;
}

.list-elements-sidebar {
  background-color: #104911 ;
  color: #ffffff;
  padding: 15px;
  flex-shrink: 0;
  height: 100vh; 
  position: sticky;
  top: 0;
}

.user {
 margin-top: 0.5em;
}

.links{
  color: #ffffff!important;
  margin-left:0.5em;
  transition: transform 0.3s ease;
}

.links:hover{
  transform: scale(1.2);
}

.buttonSair{
  background-color: #104911;
  color:#FFF;
  padding: 0.3em;
  margin: 1em 2em;
}
.buttonSair:hover{
  background-color: rgb(36, 179, 38);
}
.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 20px;
  flex-grow: 1; 
  width: calc(100% - 250px);
  max-height: 100vh;
  height: 800px;
}

.table-container {
  max-height: 450px;
  overflow-y: auto;
  width: 100%;
  background-color:#FFF ;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.9);
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container thead {
  position: sticky;
  top: 0;
  background-color: #fff ;
  z-index: 10;
}

.table-container tbody tr {
  background-color: #fff;
  color: #104911;
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background-color:    #A8D5E2;
  border-radius: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 8px;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #548C2F;
}

.pen {
  color: #548C2F;
  margin-bottom: 25px;
}

.pen:hover {
  color: #FFD449;
}

.delete {
  color: #548C2F;
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  transition: none !important;
  padding: 0 !important;
  transform: none !important;
}

.delete:hover {
  color: #FFD449;
}

.table-icon {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titulo-list {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  width: 100%;
}

@media (max-width: 768px) {
  .container-List {
    flex-direction: column;
  }

  .list-elements-sidebar {
    width: 100%; 
    height: auto;
    position: relative;
  }

  .list-container {
    width: 100%; 
  }

  .table-container {
    max-height: 300px;
  }
}
